.navbar-theme {
  background: $theme;
  .navbar-brand {
    color: #eee;
    &:hover,
    &:focus {
      color: #fff;
    }
  }
  .navbar-nav {
    > li {
      > a {
        color: #eee;
        &:hover,
        &:focus {
          color: #fff;
          background: $theme;
        }
      }
    }
  }
}

.navbar-default.navbar-pixelagil {
  background: #fff;
  margin-bottom: 0;
  border-radius: 0;
  z-index: 3;
  position: relative;
  .navbar-brand {
      padding: 10px;
      > img{
        max-height: 40px !important;
      }
  }
  .navbar-nav {
    > li {
      > a {
        color: $dark-theme;
        //font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }
}

.ui-hero {
    width: 100%;
    position: relative;

    &.section{
        .header-1{
            font-size: 2.5em;

            @media (max-width: 360px) { 
                font-size: 1.8em;
            }
        }
    }
    .header-1,
    .header-2{
        color: $dark-theme;
        font-weight: bold;
        text-transform: uppercase;
        
    }
    .header-1{
        font-size: 3em;
        margin-bottom: -5px;

        @media (max-width: 360px) { 
            font-size: 1.5em;
        }
    }
    .header-2{
        font-size: 3.5em;
        margin:0;

        @media (max-width: 360px) { 
            font-size: 2.3em;
        }
    }
    .hero-padding {
        padding: 60px 0;
    }
    .hero-content {
        p{
            margin: 15px 0;
        }
    }
    .cta-group{
        .btn-cta{
            margin-left: 10px;
        }
        .btn.btn-theme.border{
            color: $theme!important;
            &:hover,
            &:focus{
                color: #fff!important;
            }
        }

        @media (max-width: 360px) { 
            .btn{
                font-size: 12px!important;
                padding: 10px 15px;
            }
        }
    }
    .hero-figure{
        position: relative;
    }

    .fig01{
        position: absolute;
        top: -50px;
        right: 0;
        max-width: 700px;
        z-index: -1;
        
    }
    .fig02{
        max-width: 70%;
        height: auto;
        margin: 20px auto;
        display: block;
        position: relative;
        z-index: 1;
        animation: floating 3s infinite 0s ease-in-out;
    }
}


/* Nav Pixelagil */

body.navbar-open{
  overflow: hidden;  
}

.navbar-pixelagil {
  width: 100%;
  height: 55px;
  border-radius: 0;
  position: relative;
  background: #fff;
  border: 1px solid #fff;
  z-index: 10;
  border-bottom: 1px solid #ddd;
  
  .container {
    margin: 0 auto;
  }

  .nav-toggle {
    color: #fff;
    font-size: 12px;
    position: relative;
    font-weight: normal;
    text-align: center;
    background: $theme;
    background-color: $theme;
    box-shadow: none;
    border: 1px solid #ddd;
    padding: 12px 10px 12px 10px;
    display: none;
    cursor: pointer;
    &:before {
      content: "Menu";
      text-transform: uppercase;
      position: relative;
      font: normal normal normal 10px/1 Helvetica;
  }
    &.active {
      background: $theme-darken;
      background-color: $theme-darken;
    }

    span {
      border-bottom: 1px solid #ddd;
      display: block;
      margin-bottom: 3px;

      &:last-child{
        margin-bottom: 0;
      }
  
    }
  }
  
  
  @media (max-width: 991px) {
      .container {
        width: 95%;
    }
  }

  .nav-content {
    position: relative;
    display: flex;
    align-items: center;


    .nav-brand {
      float: left;
      height: auto;
      max-width: 180px;
      padding: 4px 5px;
      overflow: hidden;
        a {
          display: block;
        }
        img {
          max-width: 100%;
          height: auto;
          display: block;
        }
    }
    .nav-menu {
      float: right;
      text-align: right;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      > li {
        display: inline-block;
        margin: 0 5px;
        > a {
          color: $theme;
          font-weight: 600;
          display: block;
           white-space: nowrap;
          padding: 15px 5px;
          text-decoration: none;
          transition: all ease-in-out .1s;
          &:hover,
          &:focus,
          &.active {
            color: $theme;
            text-decoration: none;
          }
        }
      }

    }
  }
}

@media (max-width: 900px) {
  .navbar-pixelagil {

    .nav-toggle {
      float: right;
      display: inline-block;
    }

    .container {
      width: 100%;
      padding: 0;
    }

    .nav-content {
      display: block;

      .nav-menu {
        width: 0;
        padding: 55px 0;
        background: #fff;
        text-align: right;
        height: 100vh;
        position: absolute;
        overflow: hidden;
        right: 0;
        top: 55px;
        transition: all ease-in-out .3s;
          &.open {
            width: 200px;
          }

          > li {
            display: block;
            > a {
              display: block;
            }
          }
      }
    }

  }
}
