
/*--------------------------------------
[WEB]
--------------------------------------*/

.row-wedo {

    margin-top: 60px;
  
    &.dark {
      .item {
        h4 {
          color: #eee;
        }
      }
    }
  
    .item {
      margin: 10px auto;
      text-align: center;
      position: relative;
      border-top: 1px solid #999;
      border-bottom: 1px solid #999;
      padding: 20px;
      min-height: 240px;
      font-size: 0.9rem;
      color: #666;
  
      &:hover {
        /*margin: 20px auto;*/
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
      }
  
      &:after {
        content: "";
        width: 100%;
        left: 0;
        height: 40px;
        position: absolute;
        border-left: 1px solid #999;
        border-right: 1px solid #999;
        bottom: 0;
      }
  
      &:before {
        content: "";
        width: 100%;
        left: 0;
        height: 40px;
        position: absolute;
        border-left: 1px solid #999;
        border-right: 1px solid #999;
        top: 0;
      }
  
      figure {
        max-width: 100px;
        margin: 0 auto;
  
        .fa-5x {
          color: $theme;
        }
      }
  
      h4 {
        /*color: #444;*/
      }
  
      a {
        color: inherit;
        text-decoration: none;
        &:hover,
        &:focus,
        &:active {
          color: inherit;
          text-decoration: none;
        }
      }
  
    }
  
  }
  